@mixin clearfix {
  &::after{
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// media query

// Phone: 0- 600px
// Tablet potrait: 600- 1200px
// Tablet landscape: 900- 1200px
// our normal style(desktop): 1200px - 1800px
// Big desktop: 1800 ++


/*
breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px , use em is more effective in media query
ORDER: BASE > TYPO > GENERAL LAYOUT  + GRID > PAGE LAYOUT > COMPONENT
*/

@mixin res($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab_port {
        @media  only screen and (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab_land {
        @media  only screen and (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big_desktop {
        @media  only screen and (min-width: 112.5em) { @content }; //1800px
    }

}